*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/com/gitwatch/gitwatch/infrastructure/github/Helpers/GitHubToken.java
