*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/main/java/com/gitwatch/gitwatch/infrastructure/github/Helpers/GitHubToken.java
app/src/main/java/com/gitwatch/gitwatch/core/Domain/Objects/GitHubToken.java
