<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gitwatch.gitwatch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_gitwatch_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_gitwatch_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.ui.User.UserActivityListActivity"
            android:label="@string/title_useractivity_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>
        <activity
            android:name=".app.ui.User.UserActivityDetailActivity"
            android:label="@string/title_useractivity_detail"
            android:parentActivityName=".app.ui.User.UserActivityListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gitwatch.gitwatch.app.ui.User.UserActivityListActivity" />
        </activity>
        <activity
            android:name=".app.ui.Repository.RepositoryActivityListActivity"
            android:label="@string/title_repositoryactivity_list"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"/>
        <activity
            android:name=".app.ui.Repository.RepositoryActivityDetailActivity"
            android:label="@string/title_repositoryactivity_detail"
            android:parentActivityName=".app.ui.Repository.RepositoryActivityListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gitwatch.gitwatch.app.ui.Repository.RepositoryActivityListActivity" />
        </activity>
        <activity android:name=".app.ui.Commit.CommitActivityListActivity"></activity>
    </application>

</manifest>